
.selected{
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 2px;

}
.select-icon-wrap{
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8C8C8C;

}
.s-dropdown-card{
  position: absolute;
  height: 300px;
   width: 18%;
   margin-top: 3px;
   z-index: 10000;
  background-color: white;
  box-sizing: border-box;
    border: 0.8px solid #C7C7C7;
    box-shadow: 0px 3.12108px 17.9462px rgba(0, 0, 0, 0.16);
    border-radius: 4px;

}
.wrap-wrap-select_{
  width: 174px;
}

@media screen and (max-width:'900px') {
  .wrap-wrap-select_ {
      width: 70%;
    }
    .s-dropdown-card{
      width: 200px;
    }
}