
$ash : #C6C6C6;
$shadow_white : #ffffff;
$shadow:0px 0px 26px rgba(0, 0, 0, 0.04);;
$app_green:#054834;
@mixin date-select(){
 
  height: 40px;
  overflow: hidden;
  background: rgba(248, 255, 253, 0.7);
  border: 1.5px solid $ash;
  border-radius: 5px;
}
.e-top-wrapper{
  width: 100%;
  padding: 10px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}

// ============Date and Select wrapper row
.date-select{
  display: flex;
  flex-direction:row;
  width: 100%;
  justify-content: space-between;
}
.wrap-wrap-select_ {
  width: 174px;
  cursor: pointer;
  .select-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2px;
      @include date-select();
    }
}

// ================Select Component========


// ================Date Component ========
.date-wrapper{
  @include date-select();
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;

}
// ================ Card wrapper ======
.card-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
}
// ========= Each Card at THE TOP========
.t-card{
  width: 300px;
  height: 120px;
  border-radius: 8px;
  box-shadow: $shadow;
  background: $shadow_white;
  display: flex;
  cursor: pointer;
  
}
.t-card-top{
flex-direction: row;

display: flex;
justify-content: space-between;
padding: 15px;
.icon-shade{
  width: 60px;
    height: 60px;
    border-radius: 40px;
    background: $app_green;
    opacity: 0.3;
    position: relative;  
}
.title-wrap{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
}
 .icon-wrapper {
   width: 50px;
   z-index: 1000;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 25px;
   background: $app_green;
   position: absolute;
   margin-top: 5px;
   margin-left: 5px;
  
 }
 .tcard-amount {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 32px;
   color: #323232;
 }
 .tcard-title{
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #054834;
 }
.t-card-bottom{
 align-self: flex-end;
 position: relative;
 left: 40px;
}


.date-top{
  padding: 3px !important;
}
.date-top::-webkit-calendar-picker-indicator{

   background-color: #06805B;
    padding: 10px;
    border-radius: 2px;
   
}



@media screen and (max-width:'900px') {
  .wrap-wrap-select_ {
      width: 40%;
      height: 40px;
    }
  
  .date-wrapper{
        width: 40%;
        height: 40px;
        }
  .card-wrapper{
      flex-direction: column;
      align-items: center;
      width: 100%;
                }
    .t-card {
      width:100%;
      margin-top: 15px;
    }
    .t-card-bottom {
left: 60px;
    }
}
