.wrapper{
  // padding: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    // align-items: center;
    // justify-content: space-between;
}


@media screen and (max-width:'900px') {
  .wrapper{
    flex-direction: column;
  }
}