$font:'Poppins';
$shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
;
#app-table{
  border-collapse: collapse;
  width: 100%;
  font-family: $font;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
#app-table tr:nth-child(even) {
  background-color: #EDFFFA;
}
#app-table td,
#app-table th {
  font-family: $font;
  line-height: 24px;
    text-align: center;
    padding: 5px;
}

#app-table tr:hover {
  background-color: #ddd;
}
#app-table th{
  padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ffffff;
    color: #585858;
}
.profile-image{
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: aquamarine;
}
.button_{
    width: 40px;
      height: 40px;
      border: none;
      background:#06805B;
      cursor: pointer;
      color: #ffffff;
      margin: 2px;
      border-radius: 10px;
      box-shadow: $shadow;
      
  }
  .button_:hover {
    background: "#E3E3E3";
    color: #06805B;
  }
  .button-wrap{
    display: flex;
    height: 84px;
    justify-content: flex-end;
      width: 100%;
      align-items: flex-end;
    }
        @media screen and (max-width:"900px") {
          #app-table{
            display: none;
          }


            .button-wrap {
          display: none;
        }
        }
