.i-top-btn{
  height: 40px;
      border: none;
      background: white;
      color: #393838;
      width: max-content;
      padding: 0rem 2rem 0rem 2rem;
      border-radius :5px;
      font-family: "Nunito";
      
}
.wrap-btn-wrap{
 padding: 1rem 1rem 1rem 1rem;;
 width: 100%;
  height: fit-content;
  background: #393838;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.btn-wrap{
  width: 36%;
  justify-content: space-between;
  display:flex;
  flex-direction: row;
}
.search-{
  height: 40px;
  width: 300px;
}

@media screen and (max-width:'900px') {
  .i-top-btn {
    border: none;
    // padding: 0rem 2rem 0rem 1rem;
  }
    .wrap-btn-wrap {
     width: 100%;
    }
    .btn-wrap {
      overflow: scroll;
          width: 100%;
          justify-content:space-around;
        }
}
